{% extends 'layout.html' %}

{% block title %} Registro de Herramientas {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Herramientas</h2>

    <form method="POST" action="{{ url_for('main_bp.registroHerramientas') }}">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre" required>
        </div>
        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" name="marca" class="form-control" id="marca">
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" name="codigo" class="form-control" id="codigo" required>
        </div>
        <div class="mb-3">
            <label for="cantidad_disponible" class="form-label">Cantidad Disponible</label>
            <input type="number" name="cantidad_disponible" class="form-control" id="cantidad_disponible" min="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar Herramienta</button>
    </form>
    
</div>
{% endblock %}