{% extends 'layout.html' %}

{% block title %} Registro de Herramientas {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Registro de Herramientas</h2>

    <form method="POST">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre de la Herramienta</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre de la Herramienta"
                    required>
            </div>
            <div class="col-md-6">
                <label for="marca" class="form-label">Marca</label>
                <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca de la Herramienta"
                    required>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="codigo" class="form-label">Código de la Herramienta</label>
                <input type="text" class="form-control" id="codigo" name="codigo" placeholder="Código Único" required>
            </div>
            <div class="col-md-6">
                <label for="sucursal" class="form-label">Sucursal</label>
                <select class="form-select" id="sucursal" name="sucursal" required>
                    <option selected disabled>Seleccionar Sucursal</option>
                    {% for sucursal in sucursales %}
                    <option value="{{ sucursal.id_sucursal }}">{{ sucursal.nombre_sucursal }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="stock" class="form-label">Stock Disponible</label>
                <input type="number" class="form-control" id="stock" name="stock" placeholder="Cantidad en Stock"
                    min="1" required>
            </div>
            <div class="col-md-6">
                <label for="stock_total" class="form-label">Stock Total</label>
                <input type="number" class="form-control" id="stock_total" name="stock_total" placeholder="Cantidad Máxima"
                    min="1" required>
            </div>
        </div>

        <button type="submit" class="btn btn-danger w-100">Registrar Herramienta</button>
    </form>
</div>
{% endblock %}
