{% extends 'layout.html' %}

{% block title %} Reportes {% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Reporte de Herramientas y Sucursales</h2>

    <!-- Botones para descargar el reporte -->
    <div class="mb-3 text-end">
        <a href="{{ url_for('main_bp.descargar_csv') }}" class="btn btn-outline-primary">Descargar CSV</a>
        <a href="{{ url_for('main_bp.descargar_excel') }}" class="btn btn-outline-success">Descargar Excel</a>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th>Nombre de la Herramienta</th>
                <th>Sucursal</th>
                <th>Stock Actual</th>
                <th>Total de Transacciones</th>
            </tr>
        </thead>
        <tbody>
            {% for herramienta in herramientas %}
            <tr>
                <td>{{ herramienta.nombre }}</td>
                <td>{{ herramienta.nombre_sucursal }}</td>
                <td>{{ herramienta.cantidad_disponible }}</td>
                <td>{{ herramienta.total_transacciones }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}