{% extends 'layout.html' %}

{% block title %}Transacciones{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="stock-info">
                <h5>{{ herramienta.nombre }}</h5>
                <div class="stock-display">
                    Stock local: {{ herramienta.cantidad_disponible }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="transaction-info">
                <h5>Otras sucursales</h5>
                {% for sucursal in stock_sucursales %}
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" value="{{ sucursal.sucursal.nombre_sucursal }}"
                            readonly>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" value="{{ sucursal.sucursal.ubicacion }}" readonly>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" value="{{ sucursal.cantidad_disponible }}" readonly>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Sección de transacción -->
    <div class="row mt-4">
        <div class="col-md-6">
            <form method="POST">
                <div class="transaction-info">
                    <h5>Transacción</h5>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select class="form-select" id="estado" name="estado">
                            <option selected>Seleccionar Estado</option>
                            {% for estado in EstadoHerramientaEnum %}
                            <option value="{{ estado.value }}">{{ estado.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="sucursal_origen" class="form-label">Sucursal Origen</label>
                        <select class="form-select" id="sucursal_origen" name="sucursal_origen">
                            {% for sucursal in stock_sucursales %}
                            <option value="{{ sucursal.sucursal.id_sucursal }}">{{ sucursal.sucursal.nombre_sucursal }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn save-btn">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}